Repository openstack/oslo.log: changes, and which Zuul jobs are due for each by the changed paths.
All: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

oslo.log-src-grenade-devstack:
  parent: legacy-dsvm-base
  voting: false
  post-run: playbooks/legacy/oslo.log-src-grenade-devstack/post.yaml
  required-projects:
  - openstack/grenade
  - openstack/devstack-gate
  - openstack/oslo.log
  run: playbooks/legacy/oslo.log-src-grenade-devstack/run.yaml
  timeout: 10800

oslo.log-jsonformatter:
  parent: devstack-tempest
  timeout: 10800
  vars:
    devstack_local_conf:
      post-config:
        $NOVA_CONF:
          DEFAULT:
            use_json: true
        $NEUTRON_CONF:
          DEFAULT:
            use_json: true
        $GLANCE_CONF:
          DEFAULT:
            use_json: true
        $CINDER_CONF:
  ...

Ignore releasenote artifacts files.
  .gitignore
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Stop to build universal wheel
  setup.cfg
Due: oslo.log-jsonformatter

Switch to hacking 2.x
  lower-constraints.txt
  oslo_log/log.py
  oslo_log/rate_limit.py
  oslo_log/tests/unit/test_log.py
  test-requirements.txt
  tox.ini
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

remove outdated header
  setup.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Add Victoria and Wallaby releases to versionutils
  oslo_log/versionutils.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

drop use of six
  lower-constraints.txt
  oslo_log/cmds/convert_json.py
  oslo_log/formatters.py
  oslo_log/handlers.py
  oslo_log/log.py
  oslo_log/tests/unit/test_convert_json.py
  oslo_log/tests/unit/test_log.py
  oslo_log/tests/unit/test_rate_limit.py
  oslo_log/tests/unit/test_versionutils.py
  oslo_log/versionutils.py
  requirements.txt
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Use unittest.mock instead of third party mock
  lower-constraints.txt
  oslo_log/tests/unit/test_formatters.py
  oslo_log/tests/unit/test_helpers.py
  oslo_log/tests/unit/test_log.py
  oslo_log/tests/unit/test_rate_limit.py
  oslo_log/tests/unit/test_versionutils.py
  test-requirements.txt
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Update .gitreview for stable/ussuri
  .gitreview
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Update TOX/UPPER_CONSTRAINTS_FILE for stable/ussuri
  tox.ini
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Update master for stable/ussuri
  releasenotes/source/index.rst
  releasenotes/source/ussuri.rst
Due: oslo.log-src-grenade-devstack

Add Python3 victoria unit tests
  .zuul.yaml
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Imported Translations from Zanata
  oslo_log/locale/en_GB/LC_MESSAGES/oslo_log.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Add release notes links to doc index
  doc/source/index.rst
Due: oslo.log-src-grenade-devstack

Add py38 package metadata
  setup.cfg
Due: oslo.log-jsonformatter

Bump default tox env from py37 to py38
  tox.ini
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Align contributing doc with oslo's policy
  CONTRIBUTING.rst
Due: oslo.log-src-grenade-devstack

Remove monotonic usage
  lower-constraints.txt
  oslo_log/rate_limit.py
  requirements.txt
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Add missing SYSLOG_FACILITY to JournalHandler
  oslo_log/handlers.py
  oslo_log/log.py
  oslo_log/tests/unit/test_log.py
  releasenotes/notes/add-facility-to-journal-e10bf7002cc19dd3.yaml
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Remove translation sections from setup.cfg
  babel.cfg
  setup.cfg
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Remove the unused coding style modules
  lower-constraints.txt
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Switch to newer openstackdocstheme and reno versions
  doc/requirements.txt
  doc/source/conf.py
  lower-constraints.txt
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Default facility to None in OSJournalHandler class
  oslo_log/handlers.py
  oslo_log/tests/unit/test_log.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Stop to use the __future__ module.
  oslo_log/cmds/convert_json.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Add Victoria and Wallaby in versionutils.deprecated
  oslo_log/versionutils.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Added uwsgi_name information into fluentFormatter event message
  oslo_log/formatters.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Bump bandit version
  test-requirements.txt
Due: oslo.log-jsonformatter

zuul: port the legacy grenade job
  .zuul.yaml
  playbooks/legacy/oslo.log-src-grenade-devstack/post.yaml
  playbooks/legacy/oslo.log-src-grenade-devstack/run.yaml
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Fix handling of exc_info in OSJournalHandler
  oslo_log/handlers.py
  oslo_log/tests/unit/test_log.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Adding pre-commit
  .pre-commit-config.yaml
  doc/source/conf.py
  releasenotes/source/conf.py
  test-requirements.txt
  tox.ini
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Update .gitreview for stable/victoria
  .gitreview
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Update TOX_CONSTRAINTS_FILE for stable/victoria
  tox.ini
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Update master for stable/victoria
  releasenotes/source/index.rst
  releasenotes/source/victoria.rst
Due: oslo.log-src-grenade-devstack

Add Python3 wallaby unit tests
  .zuul.yaml
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Path conditions:
  oslo.log-src-grenade-devstack: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  oslo.log-jsonformatter: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$
