Repository openstack/oslo.log: changes, and which Zuul jobs are due for each by the changed paths.
All: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

oslo.log-src-grenade-devstack:
  parent: legacy-dsvm-base
  voting: false
  post-run: playbooks/legacy/oslo.log-src-grenade-devstack/post.yaml
  required-projects:
  - openstack/grenade
  - openstack/devstack-gate
  - openstack/oslo.log
  run: playbooks/legacy/oslo.log-src-grenade-devstack/run.yaml
  timeout: 10800

oslo.log-jsonformatter:
  parent: devstack-tempest
  timeout: 10800
  vars:
    devstack_local_conf:
      post-config:
        $NOVA_CONF:
          DEFAULT:
            use_json: true
        $NEUTRON_CONF:
          DEFAULT:
            use_json: true
        $GLANCE_CONF:
          DEFAULT:
            use_json: true
        $CINDER_CONF:
  ...

Bump bandit
  test-requirements.txt
Due: oslo.log-jsonformatter

Catch RuntimeError when loading log config file
  oslo_log/log.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Update .gitreview for stable/2023.2
  .gitreview
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Update TOX_CONSTRAINTS_FILE for stable/2023.2
  tox.ini
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Update master for stable/2023.2
  releasenotes/source/2023.2.rst
  releasenotes/source/index.rst
Due: oslo.log-src-grenade-devstack

Deprecate Windows support
  oslo_log/_options.py
  releasenotes/notes/deprecate-windows-support-75e6ac72310d5e72.yaml
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Update python classifier in setup.cfg
  setup.cfg
Due: oslo.log-jsonformatter

Bump hacking
  .pre-commit-config.yaml
  requirements.txt
  test-requirements.txt
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

pre-commit: Bump versions
  .pre-commit-config.yaml
  test-requirements.txt
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

pre-commit: Integrate bandit
  .pre-commit-config.yaml
  test-requirements.txt
  tox.ini
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

reno: Update master for unmaintained/victoria
  releasenotes/source/victoria.rst
Due: oslo.log-src-grenade-devstack

Fix logging in eventlet native threads
  oslo_log/log.py
  oslo_log/pipe_mutex.py
  oslo_log/tests/unit/test_pipe_mutex.py
  releasenotes/notes/native-threads-logging-cc84f7288c4835a0.yaml
  test-requirements.txt
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Update .gitreview for stable/2024.1
  .gitreview
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Update TOX_CONSTRAINTS_FILE for stable/2024.1
  tox.ini
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Update master for stable/2024.1
  releasenotes/source/2024.1.rst
  releasenotes/source/index.rst
Due: oslo.log-src-grenade-devstack

Fix eventlet detection
  oslo_log/log.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: oslo.log-src-grenade-devstack

Validate rate_limit_except_level by choices
  oslo_log/_options.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Fix broken reference to rate_limit_except_level
  oslo_log/log.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Add option to disable color
  oslo_log/_options.py
  oslo_log/log.py
  releasenotes/notes/log_color-531437cab4477bcb.yaml
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Remove fallback for old oslo.context
  oslo_log/formatters.py
  oslo_log/tests/unit/test_formatters.py
  requirements.txt
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Deprecate watch_log_file
  oslo_log/_options.py
  releasenotes/notes/deprecate-watch-log-file-ba9524ae872e7c01.yaml
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Apply eventlet workaround only once
  oslo_log/log.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Remove implementation for watch_log_file
  doc/source/reference/watchers.rst
  oslo_log/log.py
  oslo_log/tests/unit/test_log.py
  oslo_log/watchers.py
  releasenotes/notes/deprecate-watch-log-file-ba9524ae872e7c01.yaml
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Remove old excludes
  doc/requirements.txt
  test-requirements.txt
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Remove unused pyinotify
  requirements.txt
Due: oslo.log-jsonformatter

Remove the usage of the Eventlet debug feature from oslo.log.
  oslo_log/pipe_mutex.py
  oslo_log/tests/unit/test_pipe_mutex.py
  releasenotes/notes/remove-eventlet-hub_prevent_multiple_readers-usage-b23cea69a05cd6d4.yaml
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

add a missing link to the release note
  releasenotes/notes/remove-eventlet-hub_prevent_multiple_readers-usage-b23cea69a05cd6d4.yaml
Due: oslo.log-src-grenade-devstack

Replace deprecated logging.warn() calls with logging.warning()
  oslo_log/tests/unit/test_log.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Revert "Remove the usage of the Eventlet debug feature from oslo.log."
  oslo_log/pipe_mutex.py
  oslo_log/tests/unit/test_pipe_mutex.py
  releasenotes/notes/remove-eventlet-hub_prevent_multiple_readers-usage-b23cea69a05cd6d4.yaml
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Mock time.time_ns in test_rfc5424_isotime_format_no_microseconds for py3.13
  oslo_log/tests/unit/test_log.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Update .gitreview for stable/2024.2
  .gitreview
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Path conditions:
  oslo.log-src-grenade-devstack: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  oslo.log-jsonformatter: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$
