Repository openstack/oslo.log: changes, and which Zuul jobs are due for each by the changed paths.
All: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

.zuul.yaml:

- job:
    name: oslo.log-src-grenade-devstack
    parent: legacy-dsvm-base
    voting: false
    irrelevant-files:
      - ^(test-|)requirements.txt$
      - ^setup.cfg$
    post-run: playbooks/legacy/oslo.log-src-grenade-devstack/post.yaml
    required-projects:
      - openstack/grenade
      - openstack/devstack-gate
      - openstack/oslo.log
    run: playbooks/legacy/oslo.log-src-grenade-devstack/run.yaml
    timeout: 10800

- job:
    name: oslo.log-jsonformatter
    parent: devstack-tempest
    timeout: 10800
    vars:
      devstack_local_conf:
        post-config:
          $NOVA_CONF:
            DEFAULT:
              use_json: True
          $NEUTRON_CONF:
            DEFAULT:
              use_json: True
          $GLANCE_CONF:
            DEFAULT:
              use_json: True
          $CINDER_CONF:
            DEFAULT:
              use_json: True
          $KEYSTONE_CONF:
            DEFAULT:
              use_json: True
    irrelevant-files:
      - ^.*\.rst$
      - ^api-ref/.*$
      - ^doc/.*$
      - ^releasenotes/.*$

- project:
    check:
      jobs:
        - oslo.log-src-grenade-devstack
        - oslo.log-jsonformatter
    gate:
      jobs:
        - oslo.log-jsonformatter
    templates:
      - check-requirements
      - lib-forward-testing-python3
      - openstack-lower-constraints-jobs
      - openstack-python3-ussuri-jobs
      - periodic-stable-jobs
      - publish-openstack-docs-pti
      - release-notes-jobs-python3
    periodic:
      jobs:
        - requirements-check

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: oslo.log-src-grenade-devstack

Use py3 as the default runtime for tox
  tox.ini
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Use TOX_CONSTRAINTS_FILE
  tox.ini
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Dropping lower constraints testing
  .zuul.yaml
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

remove unicode from code
  doc/source/conf.py
  oslo_log/tests/unit/test_log.py
  releasenotes/source/conf.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Add Xena to versionutils
  oslo_log/versionutils.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

[stable-only] Cap bandit to 1.6.2
  test-requirements.txt
Due: oslo.log-jsonformatter

[stable-only] Cap bandit to 1.6.2
  lower-constraints.txt
  test-requirements.txt
  tox.ini
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Move flake8 as a pre-commit local target.
  .pre-commit-config.yaml
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Fix log_rotate_interval help text formatting
  oslo_log/_options.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Drop lower-constraints
  lower-constraints.txt
  tox.ini
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Remove references to 'sys.version_info'
  oslo_log/formatters.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

setup.cfg: Replace dashes with underscores
  setup.cfg
Due: oslo.log-jsonformatter

Ussuri+ is python3 only
  oslo_log/cmds/convert_json.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Replace deprecated arguments of RequestContext
  oslo_log/tests/unit/test_formatters.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Update python testing classifier
  setup.cfg
Due: oslo.log-jsonformatter

Use project when logging the user identity
  oslo_log/_options.py
  oslo_log/tests/unit/test_log.py
  releasenotes/notes/use-project-in-user-identity-93fd6e0a2e434a6f.yaml
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Add Yoga to versionutils
  oslo_log/versionutils.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Fix formatting of release list
  releasenotes/source/index.rst
Due: oslo.log-src-grenade-devstack

Add Python3 yoga unit tests
  .zuul.yaml
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Add Zed in versionutils
  oslo_log/versionutils.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Update CI to use unversioned jobs template
  .zuul.yaml
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Add system scope information to default user identity string
  oslo_log/_options.py
  oslo_log/tests/unit/test_log.py
  releasenotes/notes/add-system_scope-to-logging_user_identity_format-0581ce5070740375.yaml
  requirements.txt
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Log Global Request IDs by default
  oslo_log/_options.py
  releasenotes/notes/log-global_request_id-f97e6d663e8a80b3.yaml
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Drop python3.6/3.7 support in testing runtime
  setup.cfg
Due: oslo.log-jsonformatter

[Fix] init global_request_id if not in context
  oslo_log/formatters.py
  oslo_log/tests/unit/test_log.py
  releasenotes/notes/init-global-request-id-eb2031bc221e5fb7.yaml
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Fix logging in eventlet native threads
  oslo_log/log.py
  oslo_log/pipe_mutex.py
  oslo_log/tests/unit/test_pipe_mutex.py
  releasenotes/notes/native-threads-logging-cc84f7288c4835a0.yaml
  test-requirements.txt
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Make the eventlet logging fix execution conditional
  oslo_log/log.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Cleanup py27 support
  setup.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

tox - fix allowlist_external issues
  tox.ini
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Update .gitreview for stable/2023.1
  .gitreview
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Update TOX_CONSTRAINTS_FILE for stable/2023.1
  tox.ini
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Update master for stable/2023.1
  releasenotes/source/2023.1.rst
  releasenotes/source/index.rst
Due: oslo.log-src-grenade-devstack

Revert "Make the eventlet logging fix execution conditional"
  oslo_log/log.py
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Revert "Fix logging in eventlet native threads"
  oslo_log/log.py
  oslo_log/pipe_mutex.py
  oslo_log/tests/unit/test_pipe_mutex.py
  releasenotes/notes/native-threads-logging-cc84f7288c4835a0.yaml
  test-requirements.txt
Due: oslo.log-src-grenade-devstack, oslo.log-jsonformatter

Add 'revert bugfix #1983863' release note
  releasenotes/notes/revert-native-threads-logging-e5e103eb81b4acad.yaml
Due: oslo.log-src-grenade-devstack

Moves supported python runtimes from version 3.8 to 3.10
  setup.cfg
Due: oslo.log-jsonformatter

Revert "Moves supported python runtimes from version 3.8 to 3.10"
  setup.cfg
Due: oslo.log-jsonformatter
